.centerboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(217, 217, 217);
}

.board div:nth-of-type(2n) {
  background-color: rgb(198, 198, 198);
}
.scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.X {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.O {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
